
#reception-header h1 {
  -webkit-text-stroke: 1px var(--color-neutral-950);
  background: radial-gradient(circle, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0.9) 70%);
  background-size: cover;
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes horizontalMetal {
  0% {
    background-position: -150% 50%;
  }

  100% {
    background-position: 150% 50%;
  }
}

#reception-header h2 {
  background: linear-gradient(90deg,
      /* horizontal gradient */
      #3e4468 0%,
      /* deep shadow */
      #fefefc 50%,
      /* bright metallic highlight */
      #3e4468 100%
      /* shadow again */
    );

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  background-size: 300% 100%;
  /* wide horizontal space for smooth glide */
  animation: horizontalMetal 15s linear infinite alternate;
}
